[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
sqlalchemy = "*"
databases = "*"
psycopg2 = "*"
alembic = "*"
pytest = "*"
black = "*"

[dev-packages]
black = "*"
ruff = "*"
pre-commit = "*"
pytest = "*"
httpx = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"
